@keyframes snow {
  0% {
    opacity: 1;
    transform: translate(0, -100px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
    transform: translate(100px, 600px) rotateZ(270deg);
  }
  100% {
    opacity: 0;
    transform: translate(150px, 800px) rotateZ(360deg);
  }
}

.h5p-advent-calendar {
  .h5p-advent-calendar-table {
    background-image: linear-gradient(60deg, #d0202a, #c3131d);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;

    .h5p-advent-calendar-square {
      box-sizing: border-box;
      margin: 0.5em;
      position: relative;
      cursor: auto;

      &.h5p-advent-calendar-row-column-ratio-6x4 {
        flex-basis: calc(16.666% - 1em);
      }

      &.h5p-advent-calendar-row-column-ratio-4x6 {
        flex-basis: calc(25% - 1em);
      }

      &.h5p-advent-calendar-row-column-ratio-3x8 {
        flex-basis: calc(33.333% - 1em);
      }

      &.h5p-advent-calendar-row-column-ratio-2x12 {
        flex-basis: calc(50% - 1em);
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    &.h5p-advent-calendar-display-none {
      display: none;
    }
  }

  .h5p-advent-calendar-audio-button {
    background: var(--h5p-theme-main-cta-base, #000000);
    border: 0.15em solid transparent;
    border-radius: 50%;
    color: var(--h5p-theme-contrast-cta, #ffffff);
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 1.5em;
    left: 0.5em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    bottom: 0.5em;
    transition: border-color 100ms, opacity 100ms;
    width: 1.5em;
    z-index: 4;

    &:active {
      border-color: var(--h5p-theme-focus, #6d6d6d);
    }

    &:focus {
      background-color: var(--h5p-theme-main-cta-light, #2b2b2b);
    }

    &:hover {
      background-color: var(--h5p-theme-main-cta-light, #2b2b2b);
    }

    &::before {
      font-family: "H5PFontAwesome4", sans-serif;
      content: "😅";
      font-size: 1.1em;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.muted::before {
      content: "";
      left: calc(50% - 1px);
      top: calc(50%);
    }

    &.unmuted::before {
      content: "";
      top: calc(50%);
    }
  }
}

.h5p-advent-calendar-sky {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .h5p-advent-calendar-snow {
    text-align: center;

    span {
      display: inline-block;
      background-image: url("../assets/snowflake.png");
      background-size: cover;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      margin: -280px 60px 54px -34px;
      animation: snow 12s infinite cubic-bezier(0.35, 0.45, 0.39, 0.29);
      transform: translate(0, -60px);

      &:nth-child(5n+5) {
        animation-delay: 1.3s;
      }

      &:nth-child(3n+2) {
        animation-delay: 1.5s;
      }

      &:nth-child(2n+5) {
        animation-delay: 1.7s;
      }

      &:nth-child(3n+10) {
        animation-delay: 2.7s;
      }

      &:nth-child(7n+2) {
        animation-delay: 3.5s;
      }

      &:nth-child(4n+5) {
        animation-delay: 5.5s;
      }

      &:nth-child(3n+7) {
        animation-delay: 8s;
      }
    }
  }
}
