.h5p-advent-calendar-square-content {
  border: 0.2em dashed transparent;
  cursor: pointer;
  left: 0;
  height: calc(100% - 0.4em);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 0.4em);

  &.h5p-advent-calendar-cover-image {
    color: #ffffff;
    text-shadow: 1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, 1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
  }

  .h5p-advent-calendar-preview-image {
    align-items: center;
    background-color: var(--h5p-theme-background);
    background-size: cover;
    border: 0;
    color: hsl(from var(--h5p-theme-main-cta-base) h s l / 0.75);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    overflow: auto;
    pointer-events: none;
    position: relative;
    top: -100%;
    width: 100%;

    &.h5p-advent-calendar-text-symbol::after {
      bottom: 0.1em;
      color: #000;
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: 0.4em;
      font-weight: normal;
      padding: 0 5px 5px 0;
      position: absolute;
      right: 0.1em;
      text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, 1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      content: "";
    }

    &.h5p-advent-calendar-image-symbol::after {
      bottom: 0.1em;
      color: #000;
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: 0.4em;
      font-weight: normal;
      padding: 0 5px 5px 0;
      position: absolute;
      right: 0.1em;
      text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, 1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      content: "";
    }

    &.h5p-advent-calendar-audio-symbol::after {
      bottom: 0.1em;
      color: #000;
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: 0.4em;
      font-weight: normal;
      padding: 0 5px 5px 0;
      position: absolute;
      right: 0.1em;
      text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, 1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      content: "";
    }

    &.h5p-advent-calendar-video-symbol::after {
      bottom: 0.1em;
      color: #000;
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: 0.4em;
      font-weight: normal;
      padding: 0 5px 5px 0;
      position: absolute;
      right: 0.1em;
      text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, 1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      content: "";
    }

    &.h5p-advent-calendar-link-symbol::after {
      bottom: 0.1em;
      color: #000;
      font-family: "H5PFontAwesome4", sans-serif;
      font-size: 0.4em;
      font-weight: normal;
      padding: 0 5px 5px 0;
      position: absolute;
      right: 0.1em;
      text-shadow: 1px 0 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, 1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
      content: "";
    }
  }

  &.h5p-advent-calendar-open {
    cursor: auto;

    .h5p-advent-calendar-door.h5p-advent-calendar-left {
      transform: rotateY(-90deg);
    }

    .h5p-advent-calendar-door.h5p-advent-calendar-right {
      transform: rotateY(90deg);
    }

    .h5p-advent-calendar-preview-image {
      pointer-events: auto;
    }
  }

  &.h5p-advent-calendar-color-scheme-red .h5p-advent-calendar-door {
    background-image: linear-gradient(-60deg, #c3131d, #8e0a12);
  }

  &.h5p-advent-calendar-color-scheme-white .h5p-advent-calendar-door {
    background-image: linear-gradient(-60deg, #ffffff, #cccccc);
  }

  &.h5p-advent-calendar-color-scheme-lightgreen .h5p-advent-calendar-door {
    background-image: linear-gradient(-60deg, #88a941, #638222);
  }

  &.h5p-advent-calendar-color-scheme-darkgreen .h5p-advent-calendar-door {
    background-image: linear-gradient(-60deg, #0e4f27, #083c1c);
  }

  &:not(.h5p-advent-calendar-hide-door-frame).h5p-advent-calendar-cover-image {
    .h5p-advent-calendar-door.h5p-advent-calendar-left {
      border-right: 0.1em dashed #cccccc;
    }

    .h5p-advent-calendar-door.h5p-advent-calendar-right {
      border-left: 0.1em dashed #cccccc;
    }
  }

  .h5p-advent-calendar-door-container {
    height: 100%;
    pointer-events: none;
    width: 100%;

    .h5p-advent-calendar-doorway {
      height: calc(100% + 1px);
      perspective: 50em;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: 1;

      &.h5p-advent-calendar-left {
        left: 0;
      }

      &.h5p-advent-calendar-right {
        right: 0;
      }

      .h5p-advent-calendar-door {
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        transition: transform 1s;
        transform-style: preserve-3d;
        width: 100%;

        .h5p-advent-calendar-doorknob {
          height: 0.5em;
          width: 0.5em;
          background: linear-gradient(60deg, #dc9f2e, #ba7d0e);
          border: 1px solid rgba(186, 125, 14, 0.5);
          border-radius: 50%;
          display: inline-block;
        }

        &.h5p-advent-calendar-left {
          align-items: flex-end;
          background-position: left;
          transform-origin: left center;

          .h5p-advent-calendar-doorknob {
            margin-right: 0.1em;
          }
        }

        &.h5p-advent-calendar-right {
          align-items: flex-start;
          background-position: right;
          transform-origin: right center;

          .h5p-advent-calendar-doorknob {
            margin-left: 0.1em;
          }
        }

        .h5p-advent-calendar-door-number {
          font-weight: bold;
          position: absolute;
          top: 0.2em;
          left: 0.3em;
        }
      }
    }
  }

  &:not(.h5p-advent-calendar-hide-door-border) {
    border: 0.2em dashed rgba(0, 0, 0, 0.2);
  }

  &:not(.h5p-advent-calendar-cover-image) {
    &.h5p-advent-calendar-color-scheme-red {
      background-image: linear-gradient(-60deg, #c3131d, #8e0a12);
      color: #ffffff;
    }

    &.h5p-advent-calendar-color-scheme-white {
      background-image: linear-gradient(-60deg, #ffffff, #cccccc);
      color: #c3131d;
    }

    &.h5p-advent-calendar-color-scheme-lightgreen {
      background-image: linear-gradient(-60deg, #88a941, #638222);
      color: #ffffff;
    }

    &.h5p-advent-calendar-color-scheme-darkgreen {
      background-image: linear-gradient(-60deg, #0e4f27, #083c1c);
      color: #ffffff;
    }
  }

  &:not(.h5p-advent-calendar-hide-door-frame):not(.h5p-advent-calendar-cover-image) {
    &.h5p-advent-calendar-color-scheme-red {
      .h5p-advent-calendar-door.h5p-advent-calendar-left {
        border-right: 0.15em dashed #cccccc;
      }

      .h5p-advent-calendar-door.h5p-advent-calendar-right {
        border-left: 0.15em dashed #cccccc;
      }
    }

    &.h5p-advent-calendar-color-scheme-white {
      .h5p-advent-calendar-door.h5p-advent-calendar-left {
        border-right: 0.15em dashed #8e0a12;
      }

      .h5p-advent-calendar-door.h5p-advent-calendar-right {
        border-left: 0.15em dashed #8e0a12;
      }
    }

    &.h5p-advent-calendar-color-scheme-lightgreen {
      .h5p-advent-calendar-door.h5p-advent-calendar-left {
        border-right: 0.15em dashed #cccccc;
      }

      .h5p-advent-calendar-door.h5p-advent-calendar-right {
        border-left: 0.15em dashed #cccccc;
      }
    }

    &.h5p-advent-calendar-color-scheme-darkgreen {
      .h5p-advent-calendar-door.h5p-advent-calendar-left {
        border-right: 0.15em dashed #cccccc;
      }

      .h5p-advent-calendar-door.h5p-advent-calendar-right {
        border-left: 0.15em dashed #cccccc;
      }
    }
  }

  &.h5p-advent-calendar-disabled {
    cursor: auto;
  }
}
