.h5p-advent-calendar-overlay-outer-wrapper {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0.5em 0 rgba(105, 105, 105, 0.4);
  left: 50%;
  max-height: calc(100% - 5em);
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  visibility: visible;
  max-width: calc(100% - 4em);
  z-index: 10;

  &.h5p-advent-calendar-content-type-image {
    width: 80%;
  }
  &.h5p-advent-calendar-content-type-audio {
    width: 80%;
  }
  &.h5p-advent-calendar-content-type-video {
    width: 80%;
  }
  &.h5p-advent-calendar-invisible {
    opacity: 0;
    visibility: hidden;
  }

  .h5p-advent-calendar-overlay-content {
    align-items: center;
    background-color: #fff;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em;

    .h5p-advent-calendar-instance-wrapper.h5p-advanced-text {
      color: #000000;
      padding: 0.2em;
    }

    .h5p-advent-calendar-instance-wrapper.h5p-image {
      overflow: hidden;
      width: 100%;
    }

    .h5p-advent-calendar-instance-wrapper.h5p-image > img {
      margin: auto;
      object-fit: contain;
    }

    .h5p-advent-calendar-instance-wrapper.h5p-audio-wrapper {
      min-height: 32px;
      width: 100%;
    }

    .h5p-advent-calendar-instance-wrapper.h5p-video {
      width: 100%;
    }
  }

  .h5p-advent-calendar-overlay-button-close {
    background: #fff;
    position: absolute;
    top: -1.1em;
    right: -1.1em;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 3px;
    line-height: 1;
    color: #222;
    z-index: 3;

    &::after {
      font-family: "H5PFontAwesome4", sans-serif;
      content: "ÔÄç";
      border: 1px solid #222;
      text-align: center;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      line-height: 1.5;
    }
  }
}

.h5p-advent-calendar-overlay-blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(44, 44, 44, 0.9);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s, linear 0s, visibility 0s linear 0s;
  transition: opacity 0.5s linear 0s, visibility 0s linear 0s;
  z-index: 1;

  &.h5p-advent-calendar-display-none {
    display: none;
  }
}

